<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <select name="" id="" v-model="city" @change = "getWeather()">
            <option value="">Select</option>
            <option value="Toronto">Toronto</option>
            <option value="Taipei">Taipei</option>
            <option value="London">London</option>
            <option value="Rio">Rio</option>
        </select>

        <div v-if ="city !='' "> <!-- 如果city不等於空值 -->
            <template v-for="(data,i) of datas">
                <div>
                    {{getTS[i]}}
                </div>
                <img :src="`http://openweathermap.org/img/wn/${data.weather[0].icon}@2x.png`" alt="">
                <div>
                    目前氣溫:{{data.main.temp}}
                </div>
                <div>
                    體感溫度:{{data.main.feels_like}}
                </div>
                <div>
                    濕度:{{data.main.humidity}}%
                </div>
                <div>
                    {{data.weather[0].description}}
                </div>
            </template>
            {{getTS}}
        </div>
    </div>
    <script>
        Vue.createApp({
            data(){
                return{
                    datas:[],
                    city:''
                }
            },
            methods:{
                getWeather(){
                    let city = this.city;
                    let url = 'https://api.openweathermap.org/data/2.5/forecast?&q='+city+'&units=metric&appid=c7928b43b5545dcca307e23b78642600';
                    fetch(url)
                    .then(res=>res.json())
                    .then(data=>{
                        console.log(data.list)
                        this.datas = data.list;
                    })
                }
            },
            computed:{
                //計算
                getTS(){
                    return this.datas.map(d =>{
                        let myDate = new Date(d.dt * 1000);
                        //new Date 當下時間
                        let year = myDate.getFullYear();
                        let month = myDate.getMonth()+1;
                        let date = myDate.getDate();
                        let day = myDate.getDay();
                        let day_tw = ['日','一','二','三','四','五','六']
                        let hours = myDate.getHours();
                        let minutes = myDate.getMinutes();
                        
                        let output = `${year}年${month}月${date}日星期${day_tw[day]} ${hours}:${minutes}0`;
                        return output;
                    })
                }
            }
            
        }).mount('#app')
    </script>
</body>
</html>